<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Criar conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>

    <ion-button expand="block" color="medium" (click)="register(user)">Registrar</ion-button>
</ion-content>